
.products{
    display: grid;
    grid-template-columns: repeat(3, 30.33%);
    grid-gap: 0.5rem;
    justify-items: center;
    justify-content: center;
    margin-top: 1rem;
    grid-row-gap: 2rem;
}

.product-below-pic{
    display: flex;
    justify-content: space-between;
    padding-top: 0.7rem;
    align-items: center;
}
.product img{
    width:100%;
    height:auto;
}

.product-name{
    font-size: 1.2rem;
}
.product-info{
    display: flex;
    flex-direction: column;
    line-height: 1.5rem;
}

.product button{
    border:none;
    background-color: #edf6ff;
    cursor: pointer;
    padding:0.2rem 0.5rem;
    border-radius: 0.5rem;
}

